@import "tailwindcss";

@font-face{
    font-family: "Funnel Sans";
    src: url("/assets/funnel.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
}

@theme{
    /* fuentes */
    --font-sans: "Funnel Sans", system-ui, sans-serif;

    --color-diaUno: #5409DA;
    --color-diaDos: #4E71FF;
    --color-diaTres: #8DD8FF;
    --color-diaCuatro: #BBFBFF;

    --color-lluviaDiaUno: #333446;   
    --color-lluviaDiaDos: #7F8CAA;
    --color-lluviaDiaTres: #B8CFCE;  
    --color-lluviaDiaCuatro: #EAEFEF;

    --color-tardeUno: #FFB200;
    --color-tardeDos: #EB5B00;
    --color-tardeTres: #E4003A;
    --color-tardeCuatro: #B60071;

    --color-lluviaTardeUno: #5A3E1A;
    --color-lluviaTardeDos: #8C5738;
    --color-lluviaTardeTres: #B6795B;
    --color-lluviaTardeCuatro: #D8A87B;

    --color-nocheUno: #0E2148;
    --color-nocheDos: #483AA0;
    --color-nocheTres: #7965C1;
    --color-nocheCuatro: #E3D095;

    --color-lluviaNocheUno: #1A1B2B;   
    --color-lluviaNocheDos: #49566F;
    --color-lluviaNocheTres: #5C7372;  
    --color-lluviaNocheCuatro: #AAB2B4;

    --color-resaltadoDia: #1A1B2B;
    --color-resaltadoTarde: #1A1B2B;
    --color-resaltadoNoche: #1A1B2B;
  
}

.fondo-transparente{
    @apply bg-black/15 shadow-md;
}

.scroll-custom::-webkit-scrollbar {
  height: 4px; /* Altura para scroll horizontal */
}

.scroll-custom::-webkit-scrollbar-track {
  background: transparent; /* Color del fondo de la pista */
}

.scroll-custom::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25); /* negro con 30% de opacidad */
  border-radius: 14px;
}


.scroll-custom::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.25); /* negro con 30% de opacidad */
  border-radius: 14px;
}

